version: "3"

services:
  whisper-api:
    container_name: whisper-api
    build:
      context: .
      dockerfile: Dockerfile.cpu
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models
    env_file:
      - .env